*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(130, 125, 125);
    background-size: cover;
    box-sizing:border-box;
    background-position: center;
    font-family: sans-serif;
    
}

:root {
    --header-height: 80px;
}


.Bar{
    width: 100%;
}

.Menu-bar{
    display: flex;
    width: 100%;
    height: var(--header-height);
    justify-content: space-between;
    background:  rgb(155, 155, 240);
    text-align:center; 
    left:0;
    font-size: 15px;
    border-radius: 6px;
}

.Bar .logo{
    text-align: right;
    justify-content: center;
    align-items: center;
    line-height: var(--header-height);
    font-size: 50px;
    color: white;
    margin-right: 10px;
}

.Menu-bar ul{
    display: flex;
    list-style: none;
}


.Menu-bar .menu-item .menu-link{
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  overflow: hidden;
}


.Menu-bar ul li {
    width: 140px;
    margin: 15px;
    padding: 15px;
}


.Menu-bar ul li i{
    color: yellow;
    padding: 5px;
}

.footer .logo{
    text-align: left;
    justify-content: center;
    align-items: center;
    line-height: var(--header-height);
    font-size: 50px;
    color: black;
    margin-right: 10px;
    padding-left: 60px;
  }
  
  .local{
    font-size: 25px;
    padding-left: 60px;
  }
  
  .phone{
    font-size: 25px;
    padding-left: 60px;
  }
  
  .footer{
      background:  rgb(155, 155, 240);
      border-radius: 6px;
  
      display: grid;
      grid-template-columns: auto auto auto;
  }
  
  .email{
    font-size: 25px;
    padding-left: 60px;
  }
  
  .gg{
    font-size: 35px;
    padding-left: 60px;
    
  }
  
  .fb{
    text-align: right;
    font-size: 25px;
    padding-right: 40px;
    padding-top: 80px;
  }
  
  .zalo{
    text-align: right;
    font-size: 25px;
    padding-right: 40px;
  }
  
  .youtube{
    text-align: right;
    font-size: 25px;
    padding-right: 40px;
  }
  
  .dak
  {
    text-align: left;
    font-size: 25px;
    padding-right: 40px;
    padding-top: 45px;
  }

  .container{
    width: 100%;
    margin: 0 auto;
}
  

.h2 h2
{
  justify-content: center;
  text-align: center;
  font-size: 65px;
  color: rgb(70, 214, 70);
}



.banner img{
    width: 100%;
    height: 400px;
}

.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
}

.container1::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.inside{
    text-align: center;
    margin: 40px 0px;
}

.contact-box{
    max-width: 750px;
    justify-content: center;
    display: block;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(237, 119, 197, 0.19);
}

.inside{
    padding: 25px 50px 25px 15px;
} 

.container1 .contact-box .inside h3{
    font-size:35px;
    color: #555;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.container1 .contact-box .inside h3:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0,0,0,0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.field area{
    min-height: 250px;
}

.btn{
    width: 160px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #ee7fbe;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.line-effect{
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    position: fixed;
    pointer-events: none;
    transition: all 0.4s;
  
  }
